img{
	max-width: 100%;
    height: auto;
    display: block;
}
* {
    text-decoration: none;
    box-sizing: border-box;
}


body{
    font-family: PingFangTC-Light, sans-serif;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.mb-72{
    margin-bottom: 72px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-0{
    margin-bottom: 0;
}
.text-red{
    color: #A00404;
}
.text-white{
    color: white;
}
.text-center {
    text-align: center;
}
.fz-80{
    font-size: 80px;
}
.fz-32{
    font-size: 32px;
}
.fz-24{
font-size: 24px;
}
.fz-20{
font-size: 20px;
}
.lh-95{
    line-height: 95px;
}
.lh-45{
    line-height: 45px;
}
.lh-36{
    line-height: 36px;
}
.lh-30{
    line-height: 30px;
}
.bottomLine-b-2px{
    border-bottom: 2px solid black;
}
.bottomLine-b{
    border-bottom: 1px solid black;
}
.bottomLine-w{
    border-bottom: 1px solid white;
}
.d-flex{
    display: flex;
}
.justify-content-center {
    justify-content: center;
}

h1{
    padding: 40px 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.title{
    padding-bottom: 8px;
    font-family: PingFangTC-Medium, sans-serif;
}
.title span{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
}
.skills{
    background: #415165;
    padding: 24px 102px 52px 102px;
}
.skills ul{
    margin-left: 390px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}
.skills li{
    margin-bottom: 20px;
}
.workExperience ul{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 24px;
}
.workExperience li{
    font-family: PingFangTC-Medium, sans-serif;
    margin-bottom: 32px;
}
.workExperience li img{
    margin: 8px 0;
}
.workExperience li p{
    font-family: PingFangTC-Light, sans-serif;
    width: 642px;
}
footer{
    background: #415165;
}
footer .contact{
    padding: 24px 0 48px 0;
}
footer li{
    margin-right: 24px;
}